
/* Consigan de colores (Paleta de colores: #FC7300 , #1F8A70 , #00425A , #181823, #EFF5F5) */

:root {
  --borde-sobra-snaranja: #FC7300;
  --background-1-sazul: #00425A;
  --background-2-sbeige: #EFF5F5;
  --background-3-sverde: #1F8A70;
  --main-bg-color-negro: #181823;
  
} 
 


body{
  font-family: 'Poppins', sans-serif;
    width: 100%;
   
    min-width: 320px;
    margin: auto;
    background-color: #00425A ;
    box-sizing: border-box
    
    
}

.contenedor{
    width: 98%;
    /* max-width: 968px; */

    min-width: 320px;
   
    margin:auto;
    overflow:hidden;

    border: 5px  solid var(--borde-sobra-snaranja);
    padding: 0%;
    background-color: var(--background-2-sbeige);

}

  header {

flex-flow: row wrap ;
justify-content: space-between;
align-items: center;
box-sizing: border-box;
/* width: 960px; */
margin-left: auto;
margin-right: auto;

       }


       nav {
        display: flex;
        align-items: center;
      }

  
 nav ul li a{
   
    display: flex;
    justify-content: center;
    list-style: none;
    color:#EFF5F5;
    text-decoration: none;
    font-weight: 400;
    font-family: 'Belanosima', sans-serif;
    padding: 20px;
    list-style: none;
   
    
 }      

 nav ul li a:hover{
    color: var(--borde-sobra-snaranja);
    font:bold;
    text-shadow: var(--background-1-sazul);
    
 }

header ul{
    flex-grow: 1;
    padding: 0px;   
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
   
   }

.link{
 
      background-color: var(--background-1-sazul);
    text-align: center;
  
 
}

.hide{
  color: var(--background-2-sbeige);
  cursor: pointer;
  display: none;
  padding: 10px;
}


.imgchicos {
  
  margin: 0;
  padding: 3px;

}

h1{
    margin:0px;
    text-align: center;
    padding:0;
    background-color: var(--background-2-sbeige);
    border: 3px solid var(--background-3-sverde);
    font-size: 35px;
    
    }
   
   
.h1index{
  padding: 3px;
}

aside {
    width: 20%;
    height: 20%;
    margin: 2px;
    padding-left: 15px;
    
   
    float: right;
    font-style: italic;
    
  }

  .quienessomos{
  
    margin-bottom: 13px;
    padding: 0px;
    background: none;
    float: left;
    border-bottom: var(--main-bg-color-negro) 1px solid;
    
  }
  .quienessomos aside{
    float: left;
    
  }

p{
  padding: 5px;
  margin: 17px;
}

  
  
.porque{
  
       margin-right: 60px;
    padding: 0px;
    background: none;
  }

.aporque{
  display: flex;
  margin-right: auto;
  margin-top: -21px;
  box-sizing: border-box
}

h2{ 
  font-family: 'Belanosima', sans-serif;
  padding: 5px;
  margin: auto;
  border-top: var(--main-bg-color-negro) 1px solid;
  margin-left: 10px;
}


.propuestasedu{
  display: flex;
  gap: 10%;
  align-content: center;
  margin-right: 10px;
  margin-bottom: 50px;
  margin-left: 2px;
  justify-content: center;
}

article  h3{
  padding: 0px;
}

article.propuestasedu {
  width: 90px;
  height: 90px;
}

.hexagono1{
  border-radius: 100%;
  overflow: hidden;
  width: 90px;                                                                                                      ;
  height: 90px;
   margin-left: 10px;
}

.noticia{
  margin-right: 20px;
  padding: 0px;
  background: none;
}

.snoticia{
  margin-bottom: 80px;
}


 footer{

  display: flex;
  justify-content: center;
 list-style: none;
 color: var(--background-2-sbeige);
 background-color: var(--background-1-sazul);
 box-sizing: border-box;
 align-items: center;
 font-size: 13px;

 
 justify-content: space-around;
    }
    
h3{
    text-align: center;
    padding-left: 15px;
    margin: 0px;
  }


    .footeruntre h3{
font-size:70%;
    }
    
  


   h4{
        text-align: center;
        padding-left: 15px;
        margin: 0px;
    }
.contacto{
    margin-right: 0.5rem;
}

footer nav {
  flex-direction: column;
}

/* Menu */

.menu-icon {
  display: none;
  cursor: pointer;
}

.menu-icon .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  transition: all 0.3s ease-in-out;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ nav ul {
  display: flex;
  /* flex-direction: column;
  position: absolute; */
  top: 70px;
  right: 0;
  background-color: var(--background-1-sazul);
  width: 100%;
}

input[type="checkbox"]:checked ~ .menu-icon .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

input[type="checkbox"]:checked ~ .menu-icon .bar:nth-child(2) {
  opacity: 0;
}

input[type="checkbox"]:checked ~ .menu-icon .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}


@media screen and (max-width: 550px) {
 /* Menu  */
  .menu-icon {
    display: block;
}

  body{
    width: 100%;
    margin: 0px;
  }
  
  .contenedor{
        width: 95%;
        margin:0px;
        
    }


    
spam{
  background-color: none;
}

.porque aside{
  display: none;
}
    
.quienessomos aside{
  display: none;
}

.noticia{
  display: none;
}

footer{
display: flex;
  justify-content: flex-start;
  gap: 2rem ;
  font-size: 15px;
  flex-direction: column;
}

.footeruntre{
  display: none;
  
}

ul.nav-links{
  display: none;
}





nav ul li a {
  padding: 5px;
  font-size: 12px;
}

h1{
  font-size: 20px;
}

.h1index{
display: block;
font-size: 8px;


}

input[type="checkbox"]:checked ~ nav ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
  left: -120px;
  background-color: var(--background-1-sazul);
  width: 47%;
  align-items: baseline;
  text-decoration: none;
}




.propuestasedu {
  display: flex;
  gap: 10%;
  align-content: flex-start;
  margin-right: 10px;
  margin-bottom: 65px;
  margin-left: 2px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

}

/* CSS Formulario */
  
  
  
  form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: var(--background-2-sbeige);
    border-radius: 8px;
    accent-color: var(--background-3-sverde);
  }
  
  .h1form {
    margin: 0 0 30px 0;
    text-align: center;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],

 
  input[type="time"],
 
 
  textarea,
  select {
    background: var() ;
    border:none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 92%;
    background-color: var(--background-2-sbeige);
    color: #8a97a0;
    box-shadow: 1px 1px 0 var(--background-3-sverde) inset;
    margin-bottom: 30px;
  }
  

  

  
  button[type="submit"] {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid var(--background-3-sverde);
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
  }
  button[type="reset"] {
    padding: 19px 39px 18px 39px;
    color: var(--background-2-sbeige);
    background-color: var(--borde-sobra-snaranja);
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid var(--borde-sobra-snaranja);
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
  }
  
  fieldset {
    margin-bottom: 30px;
    border: double;
    margin: 0px;
  }
  

  
 

  

  
  @media screen and (min-width: 480px) {
  
    form {
      max-width: 480px;
    }

  
   
  }