


body{
  font-family: 'Poppins', sans-serif;
    width: 80%;
    max-width: 768px;
    min-width: 320px;
    margin: auto;
    background-color: #00425A ;
    
    
}

.contenedor{
    width: 80%;
    max-width: 768px;
    min-width: 320px;
    max-height: auto;
    margin:0 auto;
    overflow:hidden;
    border: 10px  solid #FC7300;
    padding: 2%;
    background-color: #EFF5F5;

}

  header {

flex-flow: row wrap ;
justify-content: space-between;
align-items: center;
box-sizing: border-box;


       }
  
 nav ul li a{
   

    display: flex;
     justify-content: center;
    list-style: none;
    color:#EFF5F5;
    text-decoration: none;
    font-weight: 400;
    font-family: 'Belanosima', sans-serif;
    padding: 20px;
   
   
    
  
   
    
 }      

 nav ul li a:hover{
    color: #FC7300;
    font:bold;
    text-shadow: #00425A;
    
 }

header ul{
    flex-grow: 1;
    padding: 0px;   
    display: flex;
    margin: auto;
    align-items: center;
   
   
   }



.link{
 
  
 
    background-color: #00425A;
    text-align: center;
  
 
}

.hide{
  color: #EFF5F5;
  cursor: pointer;
  display: none;
  padding: 10px;

}
.fa{
  float:left;
  padding-left: 10px;
}

.imgchicos h1{
  margin: 0;
}

h1{
    margin: auto;
    
    text-align: center;
    padding:0;
    background-color: #EFF5F5;
    border: 3px solid #1F8A70

    
}

aside {
    width: 20%;
    height: 20%;
    margin: 0px;
    padding-left: 15px;
    margin-left: 0px;
   
    float: right;
    font-style: italic;
    background-color: lightgray;
  }

  .quienessomos{
    margin-right: 20px;
    padding: 0px;
    background: none;
  }


  .quienessomos span{
    position: relative;
    left: 15px;
    top: -55px;
    border: 3px; 
    color:#e8eeef;   
    font-family: 'Poppins', sans-serif;
    background: none;
    font-weight: bold;
    color: #FC7300;
  }
  
.porque{
       margin-right: 60px;
    padding: 0px;
    background: none;
  }

h2{ font-family: 'Belanosima', sans-serif;}


.propuestasedu{
  display: flex;
  gap: 4rem;
  align-content: center;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 2px;
}

article  h3{
  padding: 0px;
}

article.propuestasedu {
  width: 90px;
  height: 90px;
}

.hexagono1{
  border-radius: 100%;
  overflow: hidden;
  width: 90px;                                                                                                      ;
  height: 90px;
   margin-left: 10px;
}

.noticia{
  margin-right: 20px;
  padding: 0px;
  background: none;
}


 footer{

  display: flex;
  justify-content: center;
 list-style: none;
 color:#EFF5F5;
 background-color: #00425A;
 box-sizing: border-box;
 align-items: center;
 gap: 2rem ;


       

    }
h3{
    text-align: center;
    padding-left: 15px;
    margin: 0px;
  }
    .footeruntre h3{
font-size:70%;
    }
    


   h4{
        text-align: center;
        padding-left: 15px;
        margin: 0px;
    }
.contacto{
    margin-right: 0.5rem;
}

@media screen and (max-width: 750px) {
    .contenedor{
        width: 100%;
    }

  h1{
    font-family: 'Poppins', sans-serif;
  }
    
spam{
  background-color: none;
}

    
.footeruntre{
  display: none;
}
   
}


_______________


  
  body {
    font-family: 'Poppins', sans-serif;
    color: #00425A ;
    background-color: #EFF5F5;
  }
  
  form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
    accent-color: #3ac162;
  }
  
  h1 {
    margin: 0 0 30px 0;
    text-align: center;
  }
  
  input[type="text"],
 
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],

 
  input[type="time"],
 
 
  textarea,
  select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 92%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
  }
  

  

  
  button[type="submit"] {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
  }
  button[type="reset"] {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #b23a48;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #b23a48;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
  }
  
  fieldset {
    margin-bottom: 30px;
    border: double;
    margin: 0px;
  }
  

  
 

  

  
  @media screen and (min-width: 480px) {
  
    form {
      max-width: 480px;
    }
  
  }